.carous{
  width: 55%;
  margin-left: 20%;
}
  /* .row{
    display: flex;
  }
  .Container{
    display: flex;
  } */
  
  /* .carousel-indicators:hover{
    background-color: cornflowerblue;
  } */
/* .Card-body{
  /* display: flex; */
  /* margin-left: 10%;
  padding-left: 10%; */
  





